Django==5.0.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
PyMySQL==1.1.1
python-telegram-bot==21.6
pyTelegramBotAPI==4.20.0
uvicorn==0.29.0
fastapi==0.111.0
SQLAlchemy==2.0.30
matplotlib==3.8.4
seaborn==0.13.2
numpy==1.26.4
scipy==1.13.0
opencv-python==4.9.0.80
