{% load static %}
<div class="row">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start border-bottom pb-3">
            <h2 class="text-dark font-weight-bold mb-2"> My Rides </h2>
        </div>
        <div class="col-md-12">

            {% for item in items %}
                <div class="row justify-content-center">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body text-center p-3 border b">
                                <div class="mb-2 text-dark font-weight-bold">
                                    <i class="mdi mdi-map-marker menu-icon"></i>
                                    {{ item.ride.from_city.name }} ->
                                    <i class="mdi mdi-home-map-marker menu-icon"></i>
                                    {{ item.ride.to_city.name }}
                                </div>
                                <div class="mb-2 text-dark font-weight-bold">
                                    <i class="mdi mdi-timetable menu-icon"></i>
                                    {{ item.ride.date }} {{ item.ride.time }}
                                </div>
                                <div class="mb-0 text-dark font-weight-normal">
                                    <i class="mdi mdi-car menu-icon"
                                       style="color: {{ item.ride.car.color }}"></i> {{ item.ride.car.color }} {{ item.ride.car.model }} {{ item.ride.car.number }}.
                                </div>
                                <div class="mb-0 text-dark font-weight-normal">
                                    <i class="mdi mdi-seat-recline-extra menu-icon"></i>
                                    You booked {{ item.places }} places, total price {{ item.total_price }} <i
                                        class="mdi mdi-coin menu-icon"></i>
                                </div>
                                <div class="mb-0 mt-2 text-dark font-weight-normal">
                                    Driver ID: {{ item.ride.user.uuid }}
                                </div>
                                <div class="mb-0 text-dark font-weight-normal">
                                    {% if item.ride.user.username %}
                                        Driver telegram <a href="https://t.me/{{ item.ride.user.username }}"></a>
                                    {% else %}
                                         Driver phone number +{{ item.ride.user.phone }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div> you dont have a ride yet</div>
            {% endfor %}

        </div>
    </div>
</div>