{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">FIND WAY WEB</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
                <span class="icon-bg"><i class="mdi mdi-view-dashboard menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <p class="nav-link">
                <span class="icon-bg"><i class="mdi mdi-map menu-icon"></i></span>
                <span class="menu-title" id="rides">Rides</span>
            </p>
        </li>
        <li class="nav-item">
            <p class="nav-link">
                <span class="icon-bg"><i class="mdi mdi-seat-recline-extra menu-icon"></i></span>
                <span class="menu-title" id="bookings">Bookings</span>
            </p>
        </li>
        <li class="nav-item">
            <p class="nav-link">
                <span class="icon-bg"><i class="mdi mdi-car menu-icon"></i></span>
                <span class="menu-title" id="cars">My Car</span>
            </p>
        </li>
        <li class="nav-item  border-bottom border-top pt-2 pb-2 pr-2">
            <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="sidebar-profile-img mr-1">
                                <img src="{% static 'assets/images/faces/face28.png' %}" alt="image">
                            </div>
                            <div class="sidebar-profile-text w-100">
                                <p class="mb-1 ml-1"><i class="mdi mdi-key menu-icon"></i> {{ user.uuid }}</p>
                                <div class="row ml-1">
                                    {% if user.username|length > 5 %}
                                        <i class="mdi mdi-telegram mr-1"></i>
                                        <a href="https://t.me/{{ user.username }}" target="_blank" class="text-primary">
                                            @{{ user.username|slice:":5" }}...</a>
                                    {% elif user.username %}
                                        <i class="mdi mdi-telegram mr-1"></i>
                                        <a href="https://t.me/{{ user.username }}" target="_blank" class="text-primary">
                                            @{{ user.username }}</a>
                                    {% else %}
                                        <i class="mdi mdi-phone mr-1"></i> +{{ user.phone }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">

        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="https://t.me/find_way_arm_bot" target="_blank" class="nav-link menu-title">
                    <i class="mdi mdi-telegram menu-icon"></i> TELEGRAM BOT
                </a>
            </div>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="{% url 'logout' %}" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Log Out</span></a>
            </div>
        </li>
    </ul>
</nav>
