{% extends 'app.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left p-5">
                    <div class="brand-logo">
                        <img src="{% static 'assets/images/logo-dark.svg' %}">
                    </div>
                    <h4>Hello! let's get started</h4>
                    {% if messages %}
                        <ul class="messages alert alert-danger">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form class="pt-3" method="post"
                            {% if code_send %}
                          action="{% url 'sign_in' %}"
                            {% else %}
                          action="{% url 'send_code' %}"
                            {% endif %} >
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="uuid" class="form-control form-control-lg"
                                   id="exampleInputEmail1"
                                   placeholder="User UUID" {% if uuid %} value="{{ uuid }}" {% endif %}>
                        </div>
                        {% if code_send %}
                            <div class="form-group">
                                <input type="text" name="password" class="form-control form-control-lg"
                                       id="exampleInputPassword1"
                                       placeholder="Password">
                            </div>
                        {% endif %}

                        <div class="mt-3">
                            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                    type="submit">
                                {% if code_send %}
                                    LOGIN
                                {% else %}
                                    SENT CODE
                                {% endif %}
                            </button>
                            {% if code_send %}
                                <form id="smallForm">
                                    {% csrf_token %}
                                    <input id="send_code_user_id" type="hidden" value="{{ uuid }}" name="uuid">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn mt-1"
                                            type="button" onclick="submitSmallForm()">SEND CODE AGAIN
                                    </button>
                                </form>

                            {% endif %}
                        </div>
                        <div class="text-center mt-4 font-weight-light"> Don't have an account? Write /start to our
                            telegram bot<a
                                    href="https://t.me/find_way_arm_bot" target="_blank" class="text-primary"> TELEGRAM
                                BOT</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function submitSmallForm() {
            const uuid = document.getElementById('send_code_user_id').value;

            const formData = new FormData();
            formData.append('uuid', uuid);
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch("{% url 'send_code' %}", {
                method: "POST",
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                },
            })
                .then(response => response.json())
                .then(data => {
                    alert('sent')

                    console.log(data);  // Handle the response from the server
                    alert('Small form submitted successfully');
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
{% endblock %}